body{
	/*background: white url("images/background.png");*/
}

.deleteBtn:link, .editBtn:link, .deleteBtn:visited, .editBtn:visited {
    color: #ffffff !important;
    text-decoration: none !important;
}

.navbar {
	border-radius: 0;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
}

.btn, .form-control, .label, .alert  {
	border-radius: 0 !important;
}

.alert {
    border-style: none !important;
}


.taskTitleTextField {
    border:none !important;
    outline:none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 16px;
    border-style: none !important;
    border-bottom: 2px solid #4caf50 !important;
}

.textarea {
    border:none !important;
    outline:none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none;
    border-style: none !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: initial;
}


ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.btn-h1-spacing{
	margin-top: 18px;
}

.form-spacing-top{
	margin-top: 30px;
}

.left{
	float: left;
}
.right{
	float: right;
}

.text-muted {
    color: #777;
}
.well {
	background-color: #ffffff;
}
.panel, .well{
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5) !important;
    border-radius: 0px !important;
    border: 0px solid transparent !important;
}

.panel-heading {
	font-weight: bold;
}

.panel-default>.panel-heading{
  color: #000;
  background-color: #9e9e9e;
  border-color: #9e9e9e;
}
.btn-primary, .panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #3949ab;
    border-color: #3949ab;
}
.btn-success, .panel-success>.panel-heading {
    color: #ffffff;
    background-color: #4caf50;
    border-color: #4caf50;
}
.btn-info, .panel-info>.panel-heading {
    color: #000051;
    background-color: #00bcd4;
    border-color: #00bcd4;
}
.btn-warning, .panel-warning>.panel-heading {
    color: #003300;
    background-color: #ffc107;
    border-color: #ffc107;
}
.deleteModalHeader, .btn-danger, .panel-danger>.panel-heading {
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.alert-danger {
    background-color: #f44336 !important;
    color: #ffffff !important;
}
.alert-success {
    background-color: #4caf50 !important;
    color: #ffffff !important;
}
.alert-info {
    background-color: #00bcd4 !important;
    color: #000051 !important;
}
.alert-warning {
    background-color: #ffc107 !important;
    color: #003300 !important;
}

.nav-tabs li a{
  border-radius: 0px !important;
}

.tab-content{
    padding: 10px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6) !important;
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6) !important;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6) !important;
    border-radius: 0px !important;
}

.pagination > li, .pagination>li:first-child>a, .pagination > li:first-child > span, .pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: 0px !important;
}

/*img {
    width: 100%;
    height: auto;
}*/

.progress-bar-period {
    background-color: #f00;
}


.progress, .progress>.progress-bar, .progress .progress-bar, .progress>.progress-bar .progress-bar {
    border-radius: 0px !important;
}

.table>thead>tr>th {
    border-bottom: 2px solid #ddd;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #ddd;
}

.table-bordered {
    border: 1px solid #ddd;
}

.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
}

.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #dd4b39;
}

.margin-top {
    margin-top: 20px;
}

.center{
    margin: auto !important;
}